.stats-modal {
    height: 100px;
    width: 100px;
    background-color: white;
}

.info-modal {
    height: 100px;
    width: 100px;
    background-color: white;
}

.settings-modal {
    height: 100px;
    width: 100px;
    background-color: white;
}