.stats-modal {
    height: 60vh;
    width: 60vw;
    background-color: white;
    outline: none;

    position: fixed;
    top: 30px;
    right: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.info-modal {
    height: 60vh;
    width: 60vw;
    background-color: white;
    outline: none;

    position: fixed;
    top: 30px;
    right: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

.settings-modal {
    height: 60vh;
    width: 60vw;
    background-color: white;
    outline: none;

    position: fixed;
    top: 30px;
    right: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.settings-button {
    margin-top: 5px;
}

.info-modal-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-modal-sub-container {
    display: flex;
    flex-direction: row;
}

.info-modal-icon {
    color: black;
    margin-bottom: 4px;
    margin-top: 4px;
}

.info-modal-list-item {
    list-style: none;
}

.modal-text {
    padding: 2px;
}