.upgrades-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid white;
    overflow-y: auto;
    z-index: 1;
    max-height: 250px;
}

@media screen and (min-width: 768px) {
    .upgrades-container {
        max-height: 33vh;
    }
}

.upgrades-title {

    color: white;
    padding: 10px;
}

.upgrades-text {
    color: white;
}