.navbar-container {
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.navbar-title {
    color: white;
    padding: 8px;
}

.navbar-icon {
    color: white;
    padding: 8px;
}

.navbar-icon-open {
    color: blue;
    animation: open .3s;
}

.navbar-text {
    color: white;
}

.navbar-text-open {
    color: blue;
    animation: open .3s;
}

@keyframes open {
    100% {
        scale: 1.1;
        color: blue;
    }
}