.stat-screen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 50px;
}

.stat-screen-stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.stat-screen-text {
    color: white;
    padding: 2px;
}

.stat-screen-icon {
    color: white;
    padding: 2px;
}