.resources-container {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resources-flex-start {
    width: 70%;
}

.stamina {
    background-color: green;
    height: 18px;
    width: var(--stamina);
    border-radius: 5px;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}


.mana {
    background-color: blue;
    height: 18px;
    width: var(--mana);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}


.resources-text {
    position: absolute;
    color: white;
}